
.cv{
	background-image:url("fond1.jpg");
	width: 1180PX;
	font-size:16px;
	font-family: sans-serif; 

}
.colone-gauche
               {
               
               max-width: 30%;
                text-align: center;
                background-color:#C0C0C0;
                height:900px;
                font-size: 20px;
                margin-top: 0px;
                padding:10px;
                float:left;
               margin-right:0px;
               }
#cro
    {
     font-size:40px;
     line-height:10px;
     margin-bottom:-5px;
    }
#moniteur
         {
         	color:red;
         	font-size: 20px;
         }
    
 .infos
       {
       	
       	display:flex;
       	margin-left:250px;
       	margin-right:150px;
       	margin-top:70px;
       	margin-bottom:50px; 
       	width:650px; 
       	height: 50;
       	text-align:center;
       	border-bottom: 2PX solid black;
       }   
#text
     {

     }

.foto
      {
      	margin-top:50px;
      	width: 200PX;
     	float:right;
     	border-radius: 50%;
     	margin-right: 150px;
     	
      }
#div_foto 
      {
       position:absolute;
       top: 50px;
       right: 50px;
      }

.competence
           {
       	display:flex;
       	margin-left:300px;
       	margin-right:00px;
       	margin-top:0px;
       	margin-bottom:50px; 
       	width:450px; 
       	       	border-bottom: 2PX solid black;

           }

.experience
           {margin-left:180px;
            margin-top: 120px;
                   	border-bottom: 2PX solid black;

           }

.formation
           {
           	margin-left: 180px;
           	       	border-bottom: 2PX solid black;

           }           
.distinction
            {
             text-align: center;
             
            }